<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xynl.www.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.xynl.www.domain.Topic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="options1" jdbcType="VARCHAR" property="options1" />
    <result column="options2" jdbcType="VARCHAR" property="options2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tid, name, options1, options2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_topic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xynl.www.domain.Topic">
    insert into t_topic (id, tid, name, 
      options1, options2)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{options1,jdbcType=VARCHAR}, #{options2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xynl.www.domain.Topic">
    insert into t_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="options1 != null">
        options1,
      </if>
      <if test="options2 != null">
        options2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="options1 != null">
        #{options1,jdbcType=VARCHAR},
      </if>
      <if test="options2 != null">
        #{options2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xynl.www.domain.Topic">
    update t_topic
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="options1 != null">
        options1 = #{options1,jdbcType=VARCHAR},
      </if>
      <if test="options2 != null">
        options2 = #{options2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xynl.www.domain.Topic">
    update t_topic
    set tid = #{tid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      options1 = #{options1,jdbcType=VARCHAR},
      options2 = #{options2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByTid" parameterType="java.lang.Integer" resultType="com.xynl.www.domain.Topic">
    select * from t_topic where tid=#{tid}
  </select>
</mapper>